<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite thread-count="3" name="Suite1" verbose="1" parallel="classes">
    <test name="ui" >
        <classes>
            <class name="ui.LoginTest" />
            <class name="ui.LoginTest2" />
        </classes>
    </test>

   <test name="service">
        <classes>
            <class name="service.GetStatus404"/>
            <class name="service.TestGetBody"/>
            <class name="service.TestGetStatusCode"></class>
        </classes>
    </test>
</suite>
